<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>acronym.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D41A2FA1C1FC18A009559E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D41A3161C1FC18A009559E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D41A3211C1FC18A009559E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
